@import url("css/_nav.css");

body{
    background-color: #1D1D1D;
    color: white;
}

@media (max-width: 1400px) {
    .games-container {
      display: flex;
      flex-direction: column; /* Change to a vertical layout */
    }
  
    .games-card{
      width: 50%;
    }
    
    #menu-toggle{
      display: block;
      width: 35px;
      cursor: pointer;
    }
  
    nav{
      position: relative;
      left: 0;
      background-color: #1D1D1D;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.3rem;
      height: 0;
      overflow: hidden;
  
    }
  
  
  
  }
  
  #chk1:checked ~ nav{
    height: 30rem;
    padding-block: 1.5rem;
  
  }